<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.workit">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Workit">
        <activity
            android:name=".Details"
            android:exported="false"/>
        <activity
            android:name=".MLActivity"
            android:exported="true"></activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false"/>
        <activity
            android:name=".NavActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"/>
        <activity
            android:name=".Search_diet"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity
            android:name=".IntroActivity"
            android:exported="false" />
        <activity
            android:name=".Maps"
            android:exported="false"></activity>
        <activity
            android:name=".Search_exercises"
            android:exported="false" />
        <activity
            android:name=".Search_home"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false"/>
        <activity
            android:name=".AddWorkoutSchedule"
            android:exported="false"></activity>
        <activity
            android:name=".ViewAllWorkoutActivity"
            android:exported="false"></activity>
        <activity
            android:name=".HomeActivity"
            android:exported="false"></activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"></activity>
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ClassifierActivity"
            android:label="activity_name_classification"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".design_diet"
            android:exported="false"></activity>
        <activity
            android:name=".MenuActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

        <service android:name=".FCM.PushNotificationService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"></action>
            </intent-filter>
        </service>
    </application>

</manifest>